<strong>Welcome to Gympoint {{ student }}!</strong>
<p>Your Gympoint registration has been completed, check out the details below:</p>
<p>
  <strong>Plan: </strong> {{ plan }} <br>
  <strong>Plan price: </strong> {{ price }} <br>
  <strong>Your plan starts on: </strong> {{ date }} <br>
  <strong>Your plan ends on: </strong> {{ endDate }} <br>
  <br>
  <small>
    If any information is incorrect, please contact us.
  </small>
</p>
